<!--REPORT HEADER : Begin **PASTE THIS PART IN REPORT HEADER** -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{app_name}}</title>
  <style type="text/css">
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");

    html,
    body {
      margin: 0 !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      overflow-x: hidden;
      font-family: "Montserrat", sans-serif;
      color: #313131;
    }

    #template {
      max-width: 1140px;
      margin: 100px auto !important;
    }

    p {
      line-height: 22px;
      font-weight: 600 !important;
    }

    table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
    }

    table table table {
      table-layout: auto;
    }

    .footer-list {
      margin: 40px;
      padding: 0;
      text-align: center;
      font-family: "Nunito Sans", sans-serif;
      list-style: decimal;
    }

    .footer-list li {
      display: inline-block;
      margin: 0 10px;
      position: relative;
    }

    .footer-list li::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      background-color: #313131;
      top: 8px;
      right: -15px;
      border-radius: 50%;
    }

    .footer-list li:last-of-type::after {
      display: none;
    }

    .footer-list li a {
      text-decoration: none;
      color: #313131;
    }

    .bg-sec {
      margin: 0 40px;
      position: relative;
    }

    .bg-sec img {
      display: block;
      height: auto;
      width: 100%;
    }

    #template {
      margin: auto;
    }
  </style>
</head>

<body width="100%" style="margin: 0;">
  <div id="template" style="background-color: #acacac; border-radius: 20px; width:100%">
    <div style="padding: 0 20px" class="stack-column">
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="padding: 20px 0px">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 12px; text-align: left">
              <tr>
                <td>
                  <div>
                    <a href="" style="text-decoration: none">
                      <img style="width: 200px"
                        src="{{logo_url}}"
                        alt="img" />
                    </a>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="data-tbl" style="
        padding: 20px 0;
        ">
      <tr>
        <td>
          <div style="padding: 32px; font-size: 12px">
            <h1 style="text-align: center; font-size: 18px; line-height: 30px">
              Hello from <span style="color: #F7DA41">Open Advisor</span>
            </h1>
            <p>{{{text}}}</p>
            <h3 style="font-size: 14px;">Regards,</h3>
            <p style="margin: 0;">Open Advisor Team</p>
          </div>
        </td>
      </tr>
    </table>

  </div>
</body>

</html>