NODE_ENV=development
APP_PORT=3000
APP_NAME="Open Advisor"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=open_pitch
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# Support "local", "s3"
FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=

MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USER=apikey
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
mail_default_email=bernie@convrtx.com
MAIL_DEFAULT_NAME=Guided
MAIL_CLIENT_PORT=1080

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFICATION_SERVICE_SID=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_PHONE_NUMBER=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

APPLE_APP_AUDIENCE=[]

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

WORKER_HOST=redis://localhost:6379/1

STRIPE_SECRET_KEY=
STRIPE_CURRENCY=USD

AUTH_ACCESSTOKEN_SECRET=HowiXUG4TTnCrghS2lhENeE0MyYHKNdBFacT1jGEBOdZCW2xh36bx6HTmkt08jHcpfWSboNVfplKR75B2UqAa43yxFJRFpf5qm9P
AUTH_ACCESSTOKEN_EXPIRATION=1y
AUTH_REFRESHTOKEN_SECRET=ghS2lhENeE0MyYHKNdBFacT1jGEBOdZCW2xh36bx6HTmkt08jH
AUTH_REFRESHTOKEN_EXPIRATION=1y

COOKIE_SECRET=6E5A7234753778214125442A472D4A614E645267556B58703273357638792F42
COOKIE_NAME=GOWILD_SESSION

SEED_FAKE_DATA=true
seed_add_users_email=admin@convrtx.com
SEED_ADD_USERS_PASSWORD=query123

FIREBASE_CREDENTIALS=